---
permalink: /index.html
layout: splash
title: "Describing Archives: A Content Standard"
header:
  overlay_color: "#0092ca"
  overlay_filter: "0.5"
excerpt: "[Version 2019.0.2](dacs/changelog.html#dacs-201902)"
---

{% assign links_css = "/assets/css/lists-custom.css" | prepend: site.baseurl  %}
<link rel="stylesheet" type="text/css" href="{{ links_css }}">

<h1>Contents</h1> 

<nav class="full-contents">
  
  {% assign url_parts = page.url | split: '/' %}
  {% assign url_parts_size = url_parts | size %}
  {% assign rm = url_parts | last %}
  {% assign base_url = page.url | replace: rm %}
  {% assign parts = site.pages | sort:"url" %}

  <ul class="nav__items">
    <li><span class="nav__sub-title"><a href='{{ '/dacs/02_preface.html' | relative_url }}'>Preface</a></span></li>
    <li><span class="nav__sub-title"><a href='{{ '/dacs/04_statement_of_principles.html' | relative_url }}'>Statement of Principles</a></span></li>
    <li><span class="nav__sub-title"><a href='{{ '/dacs/05_overview_of_archival_description.html' | relative_url }}'>Overview of Archival Description</a></span></li>
    <li class="sub-list"><span class="nav__sub-title">Part I</span>
      <ul>
      {% for node in parts %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign node_url_parts_size = node_url_parts | size %}
        {% assign filename = node_url_parts | last %}

        {% if node_url_parts contains "06_part_I" %}
          {% if filename contains "00_" or filename contains "chapter" %}
            {% if node.title and node.title != "404: Page not found" %}
              {% assign node_title = node.content | markdownify | newline_to_br | split: '</h1>' %}
              {% assign chapter_title = node_title[0] | replace: "<br />", "---" %}
              <li><a href='{{ node.url | prepend: site.baseurl }}'>{{ chapter_title | strip_html | strip_newlines | replace: "------", ": " }}</a></li>
              <ul class="chapter-parts">
                {% for node in site.pages %}
                  {% if node.url contains node_url_parts[3]  %}
                    {% assign node_url_parts = node.url | split: '/' %}
                    {% assign node_url_parts_size = node_url_parts | size %}
                    {% assign subfilename = node_url_parts | last %}
                    {% if subfilename != filename %}
                      <li><a href='{{ node.url | prepend: site.baseurl }}'>{{node.title}}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </li>

    <li class="sub-list"><span class="nav__sub-title">Part II</span>
    <ul>
      {% for node in parts %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign node_url_parts_size = node_url_parts | size %}
        {% assign filename = node_url_parts | last %}

        {% if node_url_parts contains "08_part_II" %}
          {% if filename contains "00_" or filename contains "chapter" %}
            {% if node.title and node.title != "404: Page not found" %}
              {% assign node_title = node.content | markdownify | newline_to_br | split: '</h1>' %}
              {% assign chapter_title = node_title[0] | replace: "<br />", "---" %}
              <li><a href='{{ node.url | prepend: site.baseurl }}'>{{ chapter_title | strip_html | strip_newlines | replace: "------", ": " }}</a></li>
              <ul class="chapter-parts">
                {% for node in site.pages %}
                  {% if node.url contains node_url_parts[3]  %}
                    {% assign node_url_parts = node.url | split: '/' %}
                    {% assign node_url_parts_size = node_url_parts | size %}
                    {% assign subfilename = node_url_parts | last %}
                    {% if subfilename != filename %}
                      <li><a href='{{ node.url | prepend: site.baseurl }}'>{{node.title}}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </li>

    <li class="sub-list"><span class="nav__sub-title"><a href='{{ '/dacs/changelog.html' | relative_url }}'>Changelog</a></span></li>
    <li class="sub-list"><span class="nav__sub-title"><a href='{{ '/dacs/09_appendices/00_appendices.html' | relative_url }}'>Appendices</a></span>
      <ul>
      {% for node in parts %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign node_url_parts_size = node_url_parts | size %}
        {% assign filename = node_url_parts | last %}

        
        {% if node_url_parts contains "09_appendices" %}
          <li><a href='{{ node.url | prepend: site.baseurl }}'>{{node.title}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </li>
  </ul>
</nav>